# dependencies
node_modules/

# production build
dist/

# environment variables
.env
.env.local
.env.*.local

# editor / OS files
.DS_Store
*.local
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
